

<%- model_class = Article -%>
<div class="page-header"> <center><h2>"<%= @article.album.title%>"</h2> <h3><%= @article.artist.name %></h3></br> Reviewed By <strong><%= @article.author %></strong></center></div>

<dl class="dl-horizontal">

<%= simple_format(@article.content.gsub(/\n/, '<br/>')) %>
</dl>


